body {
    font-family: "Arial";

}

.header_image {
    border: solid 5px black;
    border-radius: 50%;
    margin:60px;
    
}

h1 {
    background:gray;   
}

.section_title {
    text-transform: uppercase;
}

.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .nav .name {
    display: none;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  